/*Stuff for icons*/
/*html, body {*/
/*    height: 100vh;*/
/*}*/

li {
    font-weight: 400;
    color: #454545;
    font-size: 1rem;
    line-height: 1.8;
    font-family: Cantarell, sans-serif
}

ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
    margin-top: -0.675em;
}

ul.icons li {
    display: inline-block;
    padding: 0.675em 0.5em;
}

ul.icons li a {
    text-decoration: none;
    position: relative;
    display: block;
    width: 7em;
    height: 7em;
    /* border-radius: 100%; */
    /* border: solid 1px grey; */
    line-height: 6.75em;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
}

ul.icons li a img{
    width: 3em;
    height: 3em;
}

ul.icons li a:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    text-transform: none !important;
    font-weight: 400;
}

ul.icons li a:before {
    color: #ffffff;
    text-shadow: 1.25px 0px 0px lightgray, -1.25px 0px 0px lightgray, 0px 1.25px 0px lightgray, 0px -1.25px 0px lightgray;
}

ul.icons li a:hover:before {
    text-shadow: 1.25px 0px 0px #454545, -1.25px 0px 0px #454545, 0px 1.25px 0px #454545, 0px -1.25px 0px #454545;
}

ul.icons li a:before {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    font-size: 4rem;
    line-height: inherit;
    text-align: center;
    text-indent: 0;
}

ul.icons li a:hover {
    border-color: #454545;
}

@media screen and (max-width: 480px) {

    ul.icons li a:before {
        font-size: 1.5rem;
    }

}

/*Skills images*/

img.skills{
    width: 80px;
    height: 80px;
}

img.certs{
    height: 160px;
}

img.experience{
    width: 150px;
    height: 180px;
}

a.unset{
    all:unset
}

img.schools{
    width: 60px;
    height: 60px;
}
