.contain {
  object-fit: contain;
}

.uk-button-text {
  border-bottom: 1px solid #333;
}

.uk-button-text::before {
  border-bottom: 1px solid mediumblue;
}

.footer-section h5 {
  margin-bottom: 5px;
  margin-top: 5px;
}

.footer {
  flex-shrink: 0;
  background: #fafafa;
  border-top: 1px solid #eaeaea;
  padding-top: 2em;
}

.uk-link,
a {
  color: #0077aa;
}

.uk-lightbox {
  background: rgba(0, 0, 0, 0.7);
  /*As there isn't firefox support for this I won't use it*/
  /*backdrop-filter: blur(8px);*/
}

.uk-lightbox-toolbar {
  background: rgba(0, 0, 0, 0);
}

.imagemargin {
  margin-bottom: 40px;
}

figcaption p {
  font-size: 0.8em;
  color: grey;
}

figure img {
  border: solid thin black;
  padding: 10px;
}

em {
  color: unset;
}
img.experience {
  width: 150px;
  height: 180px;
}
