<head>
  <meta charset="utf-8">
  <title>{{ .Site.Title }}</title>

  {{ "<!-- mobile responsive meta -->" | safeHTML }}
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
  <meta name="description" property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}">
  <meta name="image" property="og:image" content="/{{ with .Site.Params.image }}{{ . }}{{ else }}{{ with .Site.Params.image }}{{ . }}{{ end }}{{ end }}">
  <meta name="author" content="{{ with .Site.Params.Author }}{{ . }}{{ else }}{{ with .Site.Params.author }}{{ . }}{{ end }}{{ end }}">
  {{ hugo.Generator }}
  <meta name="lastmod" content="{{.Site.Lastmod}}">
  <meta name="homeLastmod" content="{{.Site.Home.Lastmod}}">
  <meta name="gitInfoAuthorDate" content="{{ with .GitInfo }}{{ .AuthorDate }}{{ end }}">

  {{ "<!-- plugins -->" | safeHTML }}
  {{ range .Site.Params.plugins.css }}
  <link rel="stylesheet" href="{{ .URL | absURL }} ">
  {{ end }}

  {{ "<!-- Main Stylesheet -->" | safeHTML }}
  {{ $styles := resources.Get "css/style.css" | minify }}
  <link rel="stylesheet" href="{{ $styles.Permalink | relURL}}" integrity="{{ $styles.Data.Integrity }}" media="screen">
  {{ $syntax := resources.Get "css/syntax.css" | minify }}
  <link rel="stylesheet" href="{{ $syntax.Permalink | relURL}}" integrity="{{ $syntax.Data.Integrity }}" media="screen">

  {{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}

<script src="https://cdn.jsdelivr.net/npm/mailgo@0.9.14/dist/mailgo.min.js" defer></script>

  {{ "<!--Favicon-->" | safeHTML }}
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">

  <!-- Plausible analytics: Simple, open-source, lightweight (< 1 KB) and -->
  <!-- privacy-friendly web analytics alternative to Google Analytics.  -->
  <!-- See https://plausible.io/  -->
  <script defer data-domain="varac.net" src="https://stat.k.varac.net/js/plsbl.js"></script>

</head>
